.bgImage{
  width: 50%;
  position: relative;
  height: 475px;
  background: url('../../../../../public/home-page/about-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
}




