.calendar {
    :global {
        .p-button.p-component.p-datepicker-trigger {
            background-color: theme('colors.kt-gray-100') !important;
            border-color: theme('colors.kt-gray-100') !important;

            .p-button-icon {
                color: theme('colors.kt-gray-500');
            }
        }
    }
}

.calendarSearch {
    :global {
        .p-button.p-component.p-datepicker-trigger {
            background-color: transparent !important;
            border-color: transparent !important;
            padding: 0;

            .p-button-icon {
                color: theme('colors.kt-gray-500');
            }
        }

        input {
            background-color: transparent !important;
            border-color: transparent !important;
            padding: 0;
        }
    }
}