.carousel {
    :global {
        .p-carousel-prev {
            &:hover {
                background-color: theme('colors.color-7') !important;
                color: theme('colors.kt-primary') !important;
            }
        }

        .p-carousel-next {
            &:hover {
                background-color: theme('colors.color-7') !important;
                color: theme('colors.kt-primary') !important;
            }
        }

        // .p-carousel-indicator {
        //     &:hover {
        //         box-shadow: 120px 80px 40px 20px red !important;
        //     }
        // }
    }
}