.confirm_popup {
    :global {
        .p-confirm-popup:before {
            border-bottom-color: rgb(0 0 0 / 5%) !important;
        }

        .p-confirm-popup.p-confirm-popup-flipped:before {
            border-top-color: rgb(0 0 0 / 5%) !important;
            border-bottom-color: transparent !important;
        }
    }
}