.closeable {
    :global {
        .p-dialog-header-icon {
            background: transparent;

            &:hover {
                background: theme('colors.color-7') !important;

                .p-dialog-header-close-icon {
                    color: theme('colors.kt-primary') !important;
                }
            }

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }

        .p-dialog-header-close-icon {
            color: theme('colors.kt-gray-500');

            &:hover {
                color: theme('colors.kt-primary') !important;
            }
        }
    }
}

.nonCloseable {
    :global {
        .p-dialog-header-icon {
            visibility: hidden !important;
        }

        .p-dialog-header {
            height: 2rem !important;
            padding: 0 !important;
        }
    }
}