.menu {
    :global {
        .p-menuitem-link {
            border-radius: inherit !important;
            background-color: inherit !important;

            &:hover {
                .p-menuitem-text {
                    color: theme('colors.kt-primary') !important;
                }
            }
        }

        .p-menuitem-text {
            color: theme('colors.kt-gray-700') !important;
        }
    }
}